<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container-fluid text-center w-25">
    <div class="calculator-screen w-100">
        <input type="text" class="w-100 no-border" placeholder = {{pantalla}} readonly>
    </div>
    <div class="calculator-buttons container-fluid text-center">
        <div class="row">
            <button class="btn btn-secondary custom_button_num w-25" type="button" (click)="addChar('9')">9</button>
            <button class="btn btn-secondary custom_button_num w-25" type="button" (click)="addChar('8')">8</button>
            <button class="btn btn-secondary custom_button_num w-25" type="button" (click)="addChar('7')">7</button>
            <button class="btn btn-secondary custom_button w-25" type="button" (click)="addOperacion('/')">/</button>
        </div>
        <div class="row">
            <button class="btn btn-secondary custom_button_num w-25" type="button" (click)="addChar('6')">6</button>
            <button class="btn btn-secondary custom_button_num w-25" type="button" (click)="addChar('5')">5</button>
            <button class="btn btn-secondary custom_button_num w-25" type="button" (click)="addChar('4')">4</button>
            <button class="btn btn-secondary custom_button w-25" type="button" (click)="addOperacion('*')">*</button>
        </div>
        <div class="row">
            <button class="btn btn-secondary custom_button_num w-25" type="button" (click)="addChar('3')">3</button>
            <button class="btn btn-secondary custom_button_num w-25" type="button" (click)="addChar('2')">2</button>
            <button class="btn btn-secondary custom_button_num w-25" type="button" (click)="addChar('1')">1</button>
            <button class="btn btn-secondary custom_button w-25" type="button" (click)="addOperacion('-')">-</button>
        </div>
        <div class="row">
            <button class="btn btn-secondary custom_button_num w-25" type="button" (click)="addChar('.')">.</button>
            <button class="btn btn-secondary custom_button_num w-25" type="button" (click)="addChar('0')">0</button>
            <button class="btn btn-secondary custom_button w-25" type="button" (click)="eliminar()">DEL</button>
            <button class="btn btn-secondary custom_button w-25" type="button" (click)="addOperacion('+')">+</button>
        </div>
        <div class="row">
            <button class="btn btn-secondary custom_button w-100" type="button" (click)="calcular()">=</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
